@using FiorelloTaskFronToBack.ViewModels.Product;
@model ProductLoadMoreViewModel

@{
    foreach (var product in Model.Products)
    {
        <div class="mkdf-pli mkdf-item-space ">
            <div class="mkdf-pli-inner">
                <div class="mkdf-pli-image">
                    @{
                        if (@product.Status.ToString().ToLower() == "new")
                        {
                            <span class="mkdf-pli-new-product">@product.Status </span>
                        }
                        else if (@product.Status.ToString().ToLower() == "sold")
                        {
                            <span class="mkdf-pli-new-product bg-secondary">@product.Status </span>
                        }
                        else
                        {
                            <span class="mkdf-pli-new-product bg-warning">@product.Status </span>

                        }
                    }
                    <img width="620" height="800"
                 src="~/assets/images/@product.MainPhotoPath"
                 class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
                 alt="h"
                 sizes="(max-width: 620px) 100vw, 620px"
                 loading="eager" />
                </div>
                <a class="mkdf-pli-link" itemprop="url"
           asp-action="details" asp-controller="product" asp-route-id="@product.Id"
           title="Schefflera"></a>
            </div>
            <div class="mkdf-pli-text-wrapper">
                <h6 itemprop="name"
                class="entry-title mkdf-pli-title">
                    <a itemprop="url"
                   href="../../product/schefflera/index.html">@product.Title</a>
                </h6>
                <div class="mkdf-pli-add-to-cart mkdf-default-skin">
                    <button               
               
                data-id="@product.Id" id="addToCard"
                   class="button add_to_cart_button ajax_add_to_cart mkdf-button border-0">
                        Add
                        to cart
                    </button>
                </div>
                <div class="mkdf-pli-price">
                    <span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">&#036;</span>@product.Cost
                    </span>
                </div>
            </div>
        </div>
    }
}
@if (Model.IsLast)
{
    <script>
        jQuery(document).ready((function ($) {
            function myFunc() {
                $('#loadMore').remove();
            }
            myFunc();
        }))
    </script>
}

@section Scripts{

    <script src="~/assets/js/Custom.js"></script>
}

