@using FiorelloTaskFronToBack.Areas.Admin.ViewModels.FaqPage;
@model FaqPageIndexViewModel;
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Faq Component Table</h4>
            <div>
                <a asp-action="create" asp-controller="faqpage" class="btn btn-success">Add Faq Component</a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var faqcomponent in Model.FaqComponents)
                    {
                        <tr>
                            <td>@faqcomponent.Id</td>
                            <td>@faqcomponent.Title</td>
                            <td>@Html.Raw(faqcomponent.Description)</td>
                            <td>
                                <form class="d-flex gap-2" method="post" asp-action="delete" asp-controller="faqpage" asp-route-id="@faqcomponent.Id">
                                    <a asp-action="update" asp-controller="faqpage" asp-route-id="@faqcomponent.Id" class="btn btn-warning">Update</a>
                                    <a asp-action="details" asp-controller="faqpage" asp-route-id="@faqcomponent.Id" class="btn btn-info">Details</a>
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>