@using FiorelloTaskFronToBack.Areas.Admin.ViewModels.Product;
@using FiorelloTaskFronToBack.Models
@model ProductIndexViewModel;
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product Table</h4>
            <div>
                <a asp-action="create" asp-controller="product" class="btn btn-success">Add Product</a>
            </div>

            <div class="row pt-5">
                <form method="get" asp-action="index" asp-controller="product" asp-area="admin">

                    <div class="row">
                        <div class="col-2">
                            <h5>By Title</h5>
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" />
                        </div>
                        <div class="col-2">
                            <h5>By Quantity</h5>
                            <label asp-for="MinQuantity"></label>
                            <input asp-for="MinQuantity" class="form-control" />
                            <label asp-for="MaxQuantity"></label>
                            <input asp-for="MaxQuantity" class="form-control" />
                        </div>

                        <div class="col-2">
                            <h5>By Price</h5>
                            <label asp-for="MinPrice"></label>
                            <input asp-for="MinPrice" class="form-control" />
                            <label asp-for="MaxPrice"></label>
                            <input asp-for="MaxPrice" class="form-control" />
                        </div>

                        <div class="col-2">
                            <h5>By Category</h5>
                            <label asp-for="CategoryId"></label>
                            <select asp-for="CategoryId" class="form-select" asp-items="Model.Categories">
                                <option value="">Select Category</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <h5>By Status</h5>
                            <label asp-for="Status"></label>
                            <select asp-for="Status" class="form-select" asp-items="@Html.GetEnumSelectList<CategoryStatus>()">
                                <option value="">Select Status</option>
                            </select>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn waves-effect waves-light red btn-info">Search</button>                    
                    </div>
                </form>


            </div>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Status</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Category</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Product)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Title</td>
                            <td>@Html.Raw(product.Description)</td>
                            <td>@product.Quantity</td>
                            <td>@product.Cost</td>
                            <td>@product.Status</td>
                            <td>@product.Weight</td>
                            <td>@product.Category.Title</td>
                            <td>
                                <form class="d-flex gap-1" method="post" asp-action="delete" asp-controller="product" asp-route-id="@product.Id">
                                    <a asp-action="update" asp-controller="product" asp-route-id="@product.Id" class="btn btn-warning">Update</a>
                                    <a asp-action="details" asp-controller="product" asp-route-id="@product.Id" class="btn btn-info">Details</a>
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>